/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 10px;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

/* custom offers app styles */
/* make the filters labels bold */
.offer-label {
    font-weight: bold;
}

/* add extra margin so filters are not squished */
.offer-filter {
    margin: 0 20px 0 10px;
}